<a href="https://colab.research.google.com/github/ckkhandare/DS_firstProject/blob/main/DSProject.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import LabelEncoder,OneHotEncoder,OrdinalEncoder
from sklearn.model_selection import train_test_split,GridSearchCV,RandomizedSearchCV

In [2]:
df=pd.read_csv('train.csv')

In [3]:
df

          ID  age         job   marital  ... pdays previous  poutcome subscribed
0      26110   56      admin.   married  ...    -1        0   unknown         no
1      40576   31     unknown   married  ...    -1        0   unknown         no
2      15320   27    services   married  ...    -1        0   unknown         no
3      43962   57  management  divorced  ...    84        3   success        yes
4      29842   31  technician   married  ...    -1        0   unknown         no
...      ...  ...         ...       ...  ...   ...      ...       ...        ...
31642  36483   29  management    single  ...    -1        0   unknown         no
31643  40178   53  management  divorced  ...    -1        0   unknown        yes
31644  19710   32  management    single  ...    -1        0   unknown         no
31645  38556   57  technician   married  ...   337       12   failure         no
31646  14156   55  management  divorced  ...    -1        0   unknown        yes

[31647 rows x 18 columns]